.main {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    min-width: 250px;
    margin: 5px;
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all ease-in-out .2s;
}

.main h3 {
    color: white;    
}

.main:hover {
    background-color: #0c7ae0;
}